body {
  margin: 0;
  padding: 0;

  background: black;
  letter-spacing: 3px;
  user-select: none;
  cursor: none;
}

.snake-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.snake {
  position: relative;
  color: white;
  text-transform: uppercase;
}

#snake-score {
  position: absolute;
  top: -20px;
}

#snake-start-screen,
#snake-game-over-screen {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;
}

#snake-start-screen {
  display: block;
}

#snake-grid {
  border: 1px solid white;
}
